<div>
  <mat-form-field>
    <mat-label>Введите текст</mat-label>
    <input
      type="text"
      matInput
      #input
      (input)="onChangeInput(input)"
      [(ngModel)]="valueInput"
    />
  </mat-form-field>
  <app-button-add
    [btnTitle]="btnTitle"
    [isDisableAdd]="isDisableAdd"
    (click)="onAddData()"
  ></app-button-add>
</div>
<textarea [(ngModel)]="valueTextarea" placeholder="Описание"></textarea>
<app-todo-item
  [isDisableButton]="isDisableButton"
  [noteData]="noteData"
  (DeleteEvent)="onDelete($event)"
  (EditEvent)="onEdit($event)"
  (DescriptionEvent)="onDescription($event)"
></app-todo-item>

<ng-template>
  <app-modal></app-modal>
</ng-template>
