<div *ngIf="isLoading" class="itemLoading">
  <div class="iconLoading"></div>
</div>

<div *ngIf="!isLoading">
  <div *ngFor="let note of noteData; let i = index" class="item">
    <p class="item--text">{{ i + 1 }}. {{ note.title }}</p>
    <div class="item--buttons">
      <button
        class="button--edit"
        matTooltip="Редактировать"
        (click)="onEdit(i)"
      >
        &check;
      </button>
      <button
        class="button--delete"
        [matTooltip]="isDisableDelete ? '' : 'Удалить'"
        [disabled]="isDisableDelete"
        [style.opacity]="isDisableDelete ? 0.5 : 1"
        (click)="onDelete(i)"
      >
        X
      </button>
      <button
        class="button--description"
        [matTooltip]="isDisableDescription ? '' : 'Описание'"
        [disabled]="isDisableDescription"
        [style.opacity]="isDisableDescription ? 0.5 : 1"
        (click)="onDescription(i)"
      >
        ?
      </button>
    </div>
  </div>
</div>
